*{
    box-sizing: border-box;
}

.quiz {
    display: flex;
    justify-content: center;
}

.banner {
    display: flex;
    justify-content: space-between;
}

/*move the timer to the top right corner*/
/*.timer {
    display: flex;
    justify-content: space-between;
}

/*this is where we want this one*/
